@font-face {
    font-family: "Noto-Sans";
    src: url("./fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto-Sans";
    src: url("./fonts/NotoSans-Regular.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Noto-Sans";
    src: url("./fonts/NotoSans-SemiBold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Noto-Sans";
    src: url("./fonts/NotoSans-Bold.ttf");
    font-weight: bold;
}

body {
    background-color: #0c0c0c;
    color: white;
    user-select: none;
}

.comingSoonElement {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
}

.comingSoon {
    font-size: 48px;
    font-family: "Noto-Sans";
    font-weight: 700;
    text-align: center;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.appear {
    animation-name: appear;
    animation-duration: 1s;
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.disappear {
    animation-name: disappear;
    animation-duration: 2s;
    opacity: 0;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;
    margin-bottom: 16px;
}

.socials {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;
    margin-bottom: 16px;
}
#socials {
    display: flex;
}